.funspinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__box {
        width: 25vw;
        height: 25vw;
        margin: 0 0 0 -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

div.linesquare,
div.texttransform {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #000000;
    font-size: 2vw;
    b {
        transform: scaleY(0);
        animation: texttransform_in 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
        @for $i from 0 to 10 {
            &:nth-child(#{$i + 1}) {
                animation-delay: #{$i * 0.15}s;
            }
        }
    }
}

div.linesquare {
    b {
        width: 2rem;
        height: 2rem;
        background-color: #ffffff;
    }
}

@keyframes texttransform_in {
    0% {
        transform-origin: 50% 100%;
        transform: scaleY(0);
    }
    25% {
        transform-origin: 50% 100%;
        transform: scaleY(1);
    }
    75% {
        transform-origin: 50% 0%;
        transform: scaleY(1);
    }
    100% {
        transform-origin: 50% 0%;
        transform: scaleY(0);
    }
}
