<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" [formGroup]="form">
    <h2>Join</h2>

    <div class="alert alert-info" *ngIf="message">
      {{ message }}
    </div>

    <div
      class="form-control"
      [ngClass]="{
        invalid: form.get('login')?.touched && form.get('login')?.invalid
      }"
    >
      <label for="login">Login:</label>
      <input
        type="text"
        id="login"
        formControlName="login"
        placeholder="Please write in camelCase"
        required
      />

      <div class="validation">
        <small
          *ngIf="login?.errors?.['required'] && (form.touched || form.dirty)"
        >
          invalid login
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{
        invalid: form.get('email')?.touched && form.get('email')?.invalid
      }"
    >
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="example@gmail.com"
      />

      <div class="validation">
        <small
          *ngIf="email?.errors?.['required'] && (form.touched || form.dirty)"
        >
          invalid email
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{
        invalid: form.get('password')?.touched && form.get('password')?.errors
      }"
    >
      <label for="password">password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="At least 6 characters"
      />
      <div class="validation">
        <small
          *ngIf="password?.errors?.['required'] && (form.touched || form.dirty)"
          >Password is required.
        </small>
        <small *ngIf="password?.errors?.['minLength']"
          >Password should have minimum 6 characters
        </small>
        <small *ngIf="password?.errors?.['appForbiddenValue']"
          >Password should have at least 1 uppercase letter, 1 lowercase letter,
          1 number and at least one of symbols !@#$%^&*
        </small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Join Heroes
    </button>
    <button type="submit" class="btn btn-primary" routerLink="/login">
      Sign in
    </button>
  </form>
</div>
