<div class="container">
  <!-- Sign In Form -->
  <form class="register" [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="form-title">Registration</h2>

    <!-- message alert -->
    <div class="alert alert-info" *ngIf="message">
      {{ message }}
    </div>
    <!-- Login Field -->
    <div class="form-control">
      <label for="login">Login:</label>
      <input
        type="text"
        formControlName="login"
        placeholder="Please write your name"
      />

      <section class="validation">
        <p *ngFor="let validation of registrationValidation.login">
          <small
            *ngIf="
              loginInput.hasError(validation.type) &&
              (loginInput.dirty || loginInput.touched)
            "
          >
            {{ validation.message }}
          </small>
        </p>
      </section>
    </div>

    <!-- Email Field -->
    <div class="form-control">
      <label for="email">Email:</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        autocomplete
        required
      />

      <section class="validation">
        <p *ngFor="let validation of registrationValidation.email">
          <small
            *ngIf="
              emailInput.hasError(validation.type) &&
              (emailInput.dirty || emailInput.touched)
            "
          >
            {{ validation.message }}</small
          >
        </p>
      </section>
    </div>

    <!-- Password Field -->
    <div class="form-control">
      <label for="password">password:</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Password*"
        autocomplete
        required
      />
      <section class="validation">
        <p *ngFor="let validation of registrationValidation.password">
          <small
            *ngIf="
              passwordInput.hasError(validation.type) &&
              (passwordInput.dirty || passwordInput.touched)
            "
          >
            {{ validation.message }}
          </small>
        </p>
      </section>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      Registration
    </button>

    <!-- Transition to Login page button -->
    <button class="btn btn-primary" routerLink="/login">Sign in</button>
  </form>
</div>
