<div class="container">
  <!-- Sign In Form -->
  <form class="login" (ngSubmit)="submit()" [formGroup]="form">
    <h2 class="form-title">Log in</h2>

    <!-- message alert -->
    <div class="alert alert-info" *ngIf="message">
      {{ message }}
    </div>

    <!-- Email Field -->
    <div class="form-control">
      <label for="email">Email:</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Email*"
        autocomplete
        required
      />
      <section class="validation">
        <p *ngFor="let validation of signInValidation.email">
          <small
            *ngIf="
              emailInput.hasError(validation.type) &&
              (emailInput.dirty || emailInput.touched)
            "
          >
            {{ validation.message }}</small
          >
        </p>
      </section>
    </div>

    <!-- Password Field -->
    <div class="form-control">
      <label for="password">password:</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Password*"
        autocomplete
        required
      />
      <section class="validation">
        <p *ngFor="let validation of signInValidation.password">
          <small
            *ngIf="
              passwordInput.hasError(validation.type) &&
              (passwordInput.dirty || passwordInput.touched)
            "
          >
            {{ validation.message }}
          </small>
        </p>
      </section>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      sign in
    </button>

    <!-- Transition to Registration page button -->
    <button class="btn btn-primary" routerLink="/registration">
      Registration
    </button>
  </form>
</div>
